<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", cadclis_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_cadcli_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", cadcli_path %></li>
      <li ><%= link_to "#{t("web-app-theme.show", :default => "Gerar Pdf")}", gerapdf_path(@cadcli, :format => 'pdf') %></li>

    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.cadcli.nomecli", :default => t("activerecord.labels.nomecli", :default => "Nomecli")) %>:</b>
          <%= @cadcli.nomecli %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.cadcli.status", :default => t("activerecord.labels.status", :default => "Status")) %>:</b>
          <%= @cadcli.status %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.cadcli.valor", :default => t("activerecord.labels.valor", :default => "Valor")) %>:</b>
          <%= @cadcli.valor %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.cadcli.datavencto", :default => t("activerecord.labels.datavencto", :default => "Datavencto")) %>:</b>
          <%= @cadcli.datavencto.strftime("%d/%m/%Y") %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_cadcli_path(@cadcli), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), cadcli_path(@cadcli), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      