<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"></li>
      <li></li>
    </ul>
  </div>          
  <div class="content">          
   <h2 class="title"><%= t("web-app-theme.all", :default => "")  %> 
      	<form accept-charset="UTF-8" action="/cta_pagars/consulta" method="get">
  <label>Cadastro Geral - Selecione a opção Desejada: 
          
  </label>
  <label>
  	
       
  </label>
  </h2>
    <div class="inner">
      
        <tr>             
          <th class="first"></th>
                    <th>
                      </th>
               <th> <%= link_to link_to image_tag("web-app-theme/btncontato.png"), contatos_path %>
               	    <%= link_to link_to image_tag("web-app-theme/btnos.png"), orders_path %>
                    <%= link_to link_to image_tag("web-app-theme/btncliente.png"), cadclis_path %>
                    <%= link_to link_to image_tag("web-app-theme/btnproduto.png"), cadprods_path %>
                    <%= link_to link_to image_tag("web-app-theme/btn_patrimonio.png"), cad_patrimonios_path %>
	                <%= link_to link_to image_tag("web-app-theme/btn_servidor_dns.png"), cad_dns_path %>

      
          <th class="last"></th>
        </tr>
       
      
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

     

 