<div class="block notice">
  <h3>Login de Acesso</h3>
  <div class="content">
     <% if user_signed_in? %>

            Logado como: <%= current_user.email %>. Não é você?

            <%= link_to "Encerrar Sessão", logout_path %>

        <% else %>
       
      
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

 
  <div><%= f.label "senha" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "lembrar-se" %></div>
  <% end -%>

  <div><%= f.submit "Entrar" %></div>
  
<% end %>



  <% end %>
  </div>
</div>
<div class="block">
  <h3>Links Uteis</h3>
  <ul class="navigation">
    <li><a href="#"><%= link_to "Enviar Emails", new_contact_path %></a></li>
    
  </ul>
</div>