<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "Listar")}", cta_pagars_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Novo")}", new_cta_pagar_path %></li>
    </ul>
  </div>          
  <div class="content">          
   <h2 class="title"><%= t("web-app-theme.all", :default => "")  %> 
      	<form accept-charset="UTF-8" action="/cta_pagars/consulta" method="get">
  <label>Digite um Trecho da Descrição: 
    <input type="text" name="lala" OnKeyUp="this.style.textTransform='uppercase'" id="" />
      
  </label>
  <label>
  	
    <input type="submit" name="" id="" value="Consultar" />
    
  </label>
  </h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.cta_pagar.descricao", :default => t("activerecord.labels.descricao", :default => "Descrição")) %>
          </th>
            <th><%= t("web-app-theme.created_at", :default => "Vencimento")  %></th>
                    
            <th><%= t("web-app-theme.status", :default => "Status")  %></th>

                    
          <th class="last">&nbsp;</th>
        </tr>
        <% @cta_pagars.each do |cta_pagar| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= cta_pagar.id %>
          </td>
                    <td>
            <%= link_to cta_pagar.descricao, cta_pagar_path(cta_pagar) %>
          </td>
                    <td>
            <%= cta_pagar.datavencto.strftime("%d/%m/%Y") %>
          </td>
          
                  <td>
            <%= cta_pagar.status %>
          </td>
          
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", cta_pagar_path(cta_pagar) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_cta_pagar_path(cta_pagar) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", cta_pagar_path(cta_pagar), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
