<%= image_tag "web-app-theme/cabecalho_pdf.jpg" %>


<h1>COMPROVANTE DE PAGAMENTO</h1>
<br>
<h3>Eu, <font color="blue" face="verdana" size="4">Ademir de Góes Gomes</font>, portador do RG: 30.575.083-5
Declaro ter recebido a importância de <font color="blue" face="verdana" size="4">R$  <%= @cadcli.valor %></font> em depósito bancário de: <font color="blue" face="verdana" size="4"><%= @cadcli.nomecli %></font>.
Referente á taxa de licença de uso do mensal do Software e suporte.
<br>
<br>
<br>
<br>

São Paulo, <%= DateTime.now.strftime("%d/%m/%Y") %>
</h3>
<br>
<br>
<br>

A próxima data para pagamento será em: <%= @cadcli.datavencto.strftime("%d/%m/%Y") %>
      
          