<p align="center">
<%= image_tag "web-app-theme/cabecalho_pdf.jpg" %>

<h1><p align="center">COMPROVANTE DE PAGAMENTO</p></h1>
<br>
<h3>Eu, <font color="blue" face="verdana" size="4">Ademir de Góes Gomes</font>, portador do RG: 30.575.083-5
Declaro ter recebido a importância de <font color="blue" face="verdana" size="4">R$  <%= @cadcli.valor %></font> em depósito bancário de: <font color="blue" face="verdana" size="4"><%= @cadcli.nomecli %></font>.
Referente á taxa de licença de uso do mensal do Software e suporte.
<br>
<br>
<br>
<br>

São Paulo, <%= DateTime.now.strftime("%d/%m/%Y") %>
</h3>
<br>
<br>
<br>

A sua licença de uso do Software terá validade até o dia: <%= @cadcli.datavencto.strftime("%d/%m/%Y") %>
      
       